<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Lifehelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <section class="el-container is-vertical">
      <% if user_signed_in? %>
        <header class="el-header"><div class="vue-header"></div></header>
      <% end %>
      <div class="el-main"><%= yield %></div>
      <footer class="el-footer"><div class="vue-footer"></div></footer>
    </section>
  </body>
</html>